@CHARSET "ISO-8859-1";
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{
	
	font-size:13px;
}

 .ui-state-active, .ui-widget-content .ui-state-active, 
	.ui-widget-header .ui-state-active {
		border: 1px solid #79b7e7;
		background: #0064af;/*#f5f8f9 url(images/ui-bg_inset-hard_100_f5f8f9_1x100.png) 50% 50% repeat-x;*/ 
		
		color: white;
	}
	
	.ui-widget-header {
	border: 0px;
	}
	
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { 
color: #fff; 
text-decoration: none; 
}
 
 @font-face{
	font-family:verlag;
	src:url(../font/verlag-book.otf);
	src: url(../font/verlag-book.eot);
	src: url(../font/verlag-book.eot?#iefix) format('embedded-opentype'),
	url('../font/verlag-book.woff') format('woff'),
	url('../font/verlag-book.ttf') format('truetype'), 
	url('../font/verlag-book.svg#futura_bk_btbook') format('svg');
 }


table{
	width: 750px;
	border-spacing: 0px;
	color:#A8A6A6;
	border:none;
}

table td{
	
	border:none;
}

table th{
	
	border:none;
	font-weight: normal;
}

.fldnombre{
	width:300px;
}
.body{
	font-family:verlag !important;
	background-color:white;
	color:#A8A6A6;
}
td.numeric{
	text-align: right;
	background-color: white;
	color:#00baad;
	
}
td.titulotabla{
	bgcolor:"#d1e6f3";
	background-color: inherit;
}
table.titulo{
	background-color: #AFDEFC;
	color:#01366A;	
}
td.titulo{
	font-size: 16px;
	background-color: #AFDEFC;
	color:#01366A;	
}

table.datosCliente{
	border-width: 1px;
	border-top-width: 1px;
	border-bottom-width: 1px;
}

td.notafont{
	font-size: 9px;
}
valorTabla, td.valorTabla{    
	text-align: center;
}
td.tarifa, tarifa, calcular {
	text-align: right;	
	width:150px;
}
.totalGeneral,.totales,.total{
    background-color: Silver;
    
}
.maintable{
   width:1100px;
   border-color:Black;
}
.titulo2
{
    text-align:right;
}
/*
input{
	border-color: #0db2e8;
}
*/
button{
	background-color: #00baad;
	color:#ecfafb;
	font-weight: bold;
	width:166px;
	height:40px;
	font-size: 20px;
	
}

select{
	background-color: #ecfafb;
	color:#00baad;
	font-size: 16px

}
.tasaTexto{
	font-size:10px;
	color:white;
}

input{
	
	border:none;
	background-color:#ecf8fb;
}

td, input, button, select, table{
	
	font-family:verlag !important;
}