@CHARSET "ISO-8859-1";

 @font-face{
	font-family:verlag;
	src:url(../font/verlag-book.otf);
	src: url(../font/verlag-book.eot);
	src: url(../font/verlag-book.eot?#iefix) format('embedded-opentype'),
	url('../font/verlag-book.woff') format('woff'),
	url('../font/verlag-book.ttf') format('truetype'),
	url('../font/verlag-book.svg#futura_bk_btbook') format('svg');
 }

 
table{
	width: 750px;
	border: none;
	color:#01366A;
	
}
.fldnombre{
	width:198px;
	height:33px;
	background-color: #ecfafb;
	color:#00baad;
	border:none;
}
body{
	font-family:verlag !important;
	background-color: white;
	color: #A8A6A6;
}
td.numeric{
	text-align: right;
	background-color: #ecfafb;
	color:#00baad;
	
	
}
td.titulotabla{
	
	/*background-color: #00baad;
	color: #ecfafb;*/
}
table.titulo{
	background-color: #AFDEFC;
	color:#01366A;	
}
td.titulo{
	
	font-size: 16px;
	background-color: #00baad;
	color: #ecfafb;	
}

table.datosCliente{
	border-width: 1px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	color:#A8A6A6;
}
td.titulos{
	
	color: #A8A6A6;

}
td.notafont{
	font-size: 9px;
}
valorTabla, td.valorTabla{    
	text-align: center;
	
	border:none;
	
}
td.tarifa, tarifa, calcular {
	text-align: right;	
	width:150px;
}
.totalGeneral,.totales,.total{
    background-color: Silver;
    
}
.maintable{
   width:1100px;
   border-color:Black;
}
.titulo2
{
    
    text-align:right;
}
/*
input{
	border-color: #0db2e8;
}
*/
button{
	background-color: #00baad;
	color:#ecfafb;
	font-weight: bold;
	width: 158px;
	height: 40px;
}

select{
	background-color: #ecfafb;
	color:#00baad;;
	font-size: 16px;
	border:none;
	min-width: 100px;
	height: 33px;
	
}
.tasaTexto{
	font-size:10px;
}

#detalles  input{
	
	background-color: #ecfafb;
	color:#00baad;
	border:none;
	width: 198px;
	height: 33px;
	
}

td, input, button, select, table{
	
	font-family:verlag !important;
}

input[type="text"],
input[type="number"],
input[type="email"] {
	background-color: #ecfafb;
	color: #00baad;
	border: none;
	width: 198px;
	height: 33px;
}
#maintable input {
	width: 80px;
}
#detalles tr td:nth-child(-n+2) input[type="text"]{
	width: 100%;
	max-width: initial;
}
#detalles input[type="text"], td.numeric,
#cuotas input[type="text"],
.opciones input[type="text"] {
	width: 90px;
}
input.tarifa {
	text-align: right;
	font-size: 16px;
}
input {
	background-color: #ecfafb;
}

#detalles select#parentesco {
	width: 135px;
}
#detalles select#edad {
	width: 60px;
}
#detalles select#sexo {
	width: 60px;
}