@CHARSET "ISO-8859-1";

 @font-face{
	font-family:verlag;
	src:url(../font/verlag-book.otf);
	src: url(../font/verlag-book.eot);
	src: url(../font/verlag-book.eot?#iefix) format('embedded-opentype'),
	url('../font/verlag-book.woff') format('woff'),
	url('../font/verlag-book.ttf') format('truetype'),
	url('../font/verlag-book.svg#futura_bk_btbook') format('svg');
 }

 
table{
	width: 750px;
	border-spacing: 0px;
	color:#A8A6A6;
}
.fldnombre{
	width:300px;
	background-color:#ecfafb;
	width: 198px;
	height: 33px;
	border:none;
	
}
body{
	font-family:verlag !important;
	background-color: #ffffff;
	/*background-image: url(../imgs/new_backg.png);*/
	background-repeat: no-repeat;
	background-position: 0px -163px;
}
td.numeric{
	text-align: right;
	color:#00baad;
	margin-bottom:2px;
	
}
td.numeric div{
    padding: 7px 3px 8px 34px;
	background-color: #ecfafb;
	
}
td.titulotabla{
	
	background-color: inherit;
}
table.titulo{
	background-color: #AFDEFC;
	color:#01366A;	
}
td.titulo{
	height: 50px;
    vertical-align: middle;
	font-size: 16px;
	background-color: #a6a8aa;
	color:#3d3e40;	
}

table.datosCliente{
    color: #565758;
	border-width: 1px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	color:#A8A6A6;
}
td.titulos{
	color:#A8A6A6;

}
td.notafont{
	font-size: 9px;
}
valorTabla, td.valorTabla{    
	text-align: center;
}
td.tarifa, tarifa, calcular {
	text-align: right;	
	width:150px;

}
.totalGeneral,.totales,.total{
    background-color: Silver;
    
}
.maintable{
   width:1100px;
   border-color:Black;
}
.titulo2
{
    text-align:right;
}
/*
input{
	border-color: #0db2e8;
}
*/
button{
	background-color: #00baad;
	color:#ecfafb;
	font-weight: bold;
	width: 158px;
	height: 40px;
}

select{
	background-color: #ecfafb;
	color:#00baad;
	font-size: 16px;
	border:none;
	width: 100px;
	height: 33px;
	margin:2px;
	
}
.tasaTexto{
	font-size:10px;
}

.clientes{
	background-color: #ecfafb;
	color:#00baad;
	font-size: 16px;
	border:none;
	width: 198px;
	height: 33px;
	margin:2px;
	
}

#detalles  input{
	
	background-color: #ecfafb;
	color:#00baad;
	border:none;
	width: 198px;
	height: 33px;
}

td, input, button, select, table{
	
	font-family:verlag !important;
}
