@CHARSET "ISO-8859-1";

 @font-face{
	font-family:verlag;
	src:url(../font/verlag-book.otf);
	src: url(../font/verlag-book.eot);
	src: url(../font/verlag-book.eot?#iefix) format('embedded-opentype'),
	url('../font/verlag-book.woff') format('woff'),
	url('../font/verlag-book.ttf') format('truetype'),
	url('../font/verlag-book.svg#futura_bk_btbook') format('svg');
 }

 
table,.maintable{
	width: 1150px;
}
table.anchoTitulo
	{
		border-style:none;
	}
.fldnombre{
	width:300px;
}
body{
	font-family:verlag !important;
	background-color: #FFFFFF;
	color:#A8A6A6;
	
}
td.numeric{
	text-align: right;
}
td.titulotabla{
	
	background-color: inherit;
}
table.titulo{
	background-color: #00baad;
	color:#01366A;	
}

td.titulo{
	font-size: 16px;
}

table.datosCliente{
	border-width: 1px;
	border-top-width: 1px;
	border-bottom-width: 1px;
}
td.titulos{
	font-weight: bold;

}
td.notafont{
	font-size: 9px;
}
valorTabla, td.valorTabla{    
	text-align: center;
	font-weight: bold;
}
td.tarifa, tarifa, calcular {
	text-align: right;	
	width:150px;
}
.totalGeneral,.totales{
    background-color: #00baad;
    
}
.total
{
	background-color:#00baad;
	color: white;
}

.titulo2
{
    font-weight:bold;
    text-align:right;
    color: white;
}

.control
	{
		font-size:15px;	
		
	}

button{
	background-color: #00baad;
	color:#ecfafb;
	font-weight: bold;
	width: 150px;
	height: 33px;
}

.cliente{
	background-color: #ecfafb;
	border: none;
	color: #00baad;
	width: 198px;
	height: 33px;
	margin-bottom: 2px;
	
}
td, input, button, select, table{
	
	font-family:verlag !important;
}

select {
	background-color:#ecfafb !important;
	color:#00baad !important;
	border:none;
	margin-bottom:2px;
}