@CHARSET "ISO-8859-1";

 @font-face{
	font-family:verlag;
	src:url(../font/verlag-book.otf);
	src: url(../font/verlag-book.eot);
	src: url(../font/verlag-book.eot?#iefix) format('embedded-opentype'),
	url('../font/verlag-book.woff') format('woff'),
	url('../font/verlag-book.ttf') format('truetype'),
	url('../font/verlag-book.svg#futura_bk_btbook') format('svg');
 }

 
.heloo{
 	background-color: #ECF8FB;
    width:100%;
}
tbody.opciones.calculable .calcular,tbody.opciones.calculable label{
	font-size: 90%;
}
#container tr td:first-child{
  padding: 0px 5px;
}
.OpcionI, .OpcionII{
	padding-right: 10px;
	width:200px;
}
table,.maintable{
	width: 1050px;
}
table.anchoTitulo
	{
		border-style:none;
	}
.fldnombre{
	width:300px;
}
body{
	font-family:verlag !important;
	background-color: #ffffff;
	color:#A8A6A6;

}
td.numeric{
	text-align: right;
}
td.titulotabla{
	
	background-color: inherit;
}
table.titulo{
	background-color: #00baad;
	color:#01366A;	
}

td.titulo{
	font-size: 16px;
}

table.datosCliente{
	border-width: 1px;
	border-top-width: 1px;
	border-bottom-width: 1px;
}

valorTabla, td.valorTabla{    
	text-align: center;
	
}
td.tarifa, tarifa, calcular {
	text-align: right;	
	//width:150px;
}
.totalGeneral,.totales{
    background-color: #00baad;
}
.total
{
	background-color:#00baad;
}

.titulo2
{
    text-align:right;
}

.control
	{
		font-size:15px;
	}

button{
	background-color: #00baad;
	width:150px;
	height:33px;
	color:#FFFFFF;
	font-weight: bold;
}

.cliente{
	width:198px;
	height:33px;
	background-color:#ecfafb;
	border:none;
	color:#00baad;
}

td, input, button, select, table{
	
	font-family:verlag !important;
}

select {
	background-color:#ecfafb !important;
	color:#00baad !important;
	border:none;
	margin-bottom:2px;
}