@CHARSET "ISO-8859-1";
table{
	width: 750px;
	border-spacing: 0px;
	
}
.fldnombre{
	width:280px;
}
body{
	font-family: verdana;
	
}
td.numeric{
	text-align: right;
}
td.titulotabla{
	font-weight: bold;
	background-color: lightgrey;
}
td.titulo{
	font-weight: bold;
	font-size: 16px;
}
table.datosCliente{
	border-width: 1px;
	border-top-width: 1px;
	border-bottom-width: 1px;
}
td.titulos{
	font-weight: bold;
}
td.notafont{
	font-size: 9px;
}