@CHARSET "ISO-8859-1";
table,.maintable{
	width: 1050px;
}
table.anchoTitulo
	{
		border-style:none;
	}
.fldnombre{
	width:300px;
}
body{
	font-family: Arial;
	background-color: #CFE6F6;
}
td.numeric{
	text-align: right;
}
td.titulotabla{
	
	background-color: inherit;
}
table.titulo{
	background-color: #AFDEFC;
	color:#01366A;	
}

td.titulo{
	font-weight: bold;
	font-size: 16px;
}

table.datosCliente{
	border-width: 1px;
	border-top-width: 1px;
	border-bottom-width: 1px;
}
td.titulos{
	font-weight: bold;

}
td.notafont{
	font-size: 9px;
}
valorTabla, td.valorTabla{    
	text-align: center;
	font-weight: bold;
}
td.tarifa, tarifa, calcular {
	text-align: right;	
	width:150px;
}
.totalGeneral,.totales{
    background-color: #CFE6F6;
}
.total
{
	background-color:#AFDEFC;
}

.titulo2
{
    font-weight:bold;
    text-align:right;
}
.Descuento,.total,.totalGeneral,.Cuota,.totalOpciones,.totales
{
    font-weight: bold;
}
.control
	{
		font-size:15px;
	}

button{
	background-color: #419bd7;
	color:#FFFFFF;
	font-weight: bold;
}
