@CHARSET "ISO-8859-1";
table{
	width: 750px;
	border-spacing: 0px;
	color:#01366A;
}
.fldnombre{
	width:300px;
}
body{
	font-family: Arial;
	background-color: white;
}
td.numeric{
	text-align: right;
	background-color: white;
	font-weight: bold;
	
}
td.titulotabla{
	
	background-color: inherit;
}
table.titulo{
	background-color: #AFDEFC;
	color:#01366A;	
}
td.titulo{
	font-weight: bold;
	font-size: 16px;
	background-color: #AFDEFC;
	color:#01366A;	
}

table.datosCliente{
	border-width: 1px;
	border-top-width: 1px;
	border-bottom-width: 1px;
}
td.titulos{
	font-weight: bold;

}
td.notafont{
	font-size: 9px;
}
valorTabla, td.valorTabla{    
	text-align: center;
	font-weight: bold;
}
td.tarifa, tarifa, calcular {
	text-align: right;	
	width:150px;
}
.totalGeneral,.totales,.total{
    background-color: Silver;
    
}
.maintable{
   width:1100px;
   border-color:Black;
}
.titulo2
{
    font-weight:bold;
    text-align:right;
}
/*
input{
	border-color: #0db2e8;
}
*/
button{
	background-color: #419bd7;
	color:#FFFFFF;
	font-weight: bold;
}

select{
	background-color: #EFEFEF;
	font-size: 16px
}
.tasaTexto{
	font-size:10px;
}